.cartWidget {
  display: flex;
  align-items: center;
  margin: 5%;
  font-size: 2em;

}

.cartWidget > a {
  font-size: 5em;
  color: black;
}

.cartWidget > a:hover {
  color: beige;
}

.cartWidget > span {
  border-radius: 100px;
  text-align: center;
  font-size: 0.6em;
  width: 30px;
  height: 27px;
  line-height: 28px;
  color:white;
  background-color:black;


};

