.cartWidget {
  display: flex;
  margin: 2%;
}

.cartWidget > a {
  font-size: 2em;
  color: black;
}

.cartWidget > a:hover {
  color: beige;
}
.cartWidget > span {
  font-size: 150%;
  margin: 10%;
}
