.addRemove-Button {
  display: flex;
  color: #000000;
  font-weight: bold;
  margin: 2%;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.addRemove-button:hover {
  background-color: #f0b030;
}
